/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
}

.header__menu {

}

.header__links-list {

}

.header__links-list-item {

}

.header__links-list-item_no-bullit {

}

.header__link {

}

.header__link_active {

}

.header__logo {

}

.header__logo-image {

}

.address {

}

.header__address {

}

.footer__address {

}

.cover__title {
    text-transform: uppercase;
}

.cover__description {

}

.cover__description-text {

}

.bet-button {

}

.overlay {

}

.main {

}

.cover {

}

.lots {

}

.about {

}

.footer {

}

.footer__menu {

}

.footer__social-links {

}

.footer__social-link-item {

}
